* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1080px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_190 {
  width: 100%;
  height: 79px;
  background: url("./images/v1_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_185 {
  width: 100%;
  height: 79px;
  /* background: url("./images/v1_185.png"); */
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 379px;
  overflow: hidden;
}
.v1_10 {
  width: 78px;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 377px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v1_16 {
  width: 614px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 31px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_184 {
  width: 400px;
  height: 78px;
  background-color: rgba(0,0,0,0.9);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_11 {
  width: 100%;
  height: 379px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0;
  /* transform: rotate(-89deg); */
}
.v1_12 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 58px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_13 {
  width: 14px;
  height: 8px;
  background: rgba(255,16,16,1);
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 334px;
}
.v1_191 {
  width: 149px;
  height: 47px;
  background: url(./images/v1_191.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  /* left: 271px; */
  right: 50px;
  overflow: hidden;
}
.v1_15 {
  width: 149px;
  height: 47px;
  background: url("./images/v1_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_180 {
  width: 307px;
  height: 721px;
  background: url("./assets/images/v1_180.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  right: 50px;
  overflow: hidden;
}
.v1_195 {
  width: 242px;
  height: 53px;
  background: url("./images/v1_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 0px;
  overflow: hidden;
}
.v1_196 {
  width: 242px;
  height: 53px;
  background: rgba(20,26,35,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v1_197 {
  width: 28px;
  height: 28px;
  background: url("./images/v1_197.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 67px;
}
.v1_194 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 35%;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v1_183 {
  width: 307px;
  height: 606px;
  background: url("./images/v1_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_198 {
  width: 304px;
  height: 603px;
  background: rgba(7,15,27,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v1_179 {
  width: 218px;
  height: 71px;
  background: url("../images/v1_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 42px;
  overflow: hidden;
}
.v1_34 {
  width: 56px;
  height: 71px;
  background: url("./images/v1_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_35 {
  width: 50px;
  height: 50px;
  background: rgba(255,60,60,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 3px;
  border-radius: 50%;
}
.v1_36 {
  width: 28px;
  height: 28px;
  background: url("./images/v1_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 14px;
  overflow: hidden;
}
.v1_37 {
  width: 56px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_38 {
  width: 50px;
  height: 71px;
  background: url("./images/v1_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 87px;
  overflow: hidden;
}
.v1_39 {
  width: 50px;
  height: 71px;
  background: url("./images/v1_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_40 {
  width: 50px;
  height: 50px;
  background: rgba(255,60,60,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_41 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_42 {
  width: 34px;
  height: 34px;
  background: url("./images/v1_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v1_43 {
  width: 50px;
  height: 71px;
  background: url("./images/v1_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 168px;
  overflow: hidden;
}
.v1_44 {
  width: 49px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 56px;
  left: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_45 {
  width: 50px;
  height: 50px;
  background: rgba(255,60,60,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_46 {
  width: 28px;
  height: 28px;
  background: url("./images/v1_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 11px;
  overflow: hidden;
}
.v1_27 {
  width: 307px;
  background: url("./images/v1_27.png");
  opacity: 1;
  position: absolute;
  top: 343px;
  left: 0px;
  border: 1px solid rgba(255,255,255,0.30000001192092896);
}
.v1_28 {
  width: 307px;
  background: url("./images/v1_28.png");
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 0px;
  border: 1px solid rgba(255,255,255,0.30000001192092896);
}
.v1_29 {
  width: 307px;
  background: url("./images/v1_29.png");
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 0px;
  border: 1px solid rgba(255,255,255,0.30000001192092896);
}
.v1_188 {
  width: 6px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 273px;
}
.v1_189 {
  width: 6px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 273px;
}
.v1_30 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 358px;
  left: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_31 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 411px;
  left: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_47 {
  width: 253px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 153px;
  left: 36px;
  font-family: 'Inter', sans-serif;
  font-weight: Light;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v1_186 {
  width: 302px;
  height: 111px;
  background: rgba(255,16,16,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v1_26 {
  width: 254px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 37px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}


@media (max-width: 767px) {
  .v1_180 {
    display: none;
  }

  .v1_12 {
      width: 168px;
      top: 13px;
      left: 10px;
      color: #000000;
  }

  .v1_191 {
      right: 10px;
  }

  .v1_184 {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
  }
}